<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DashBoard Default by Tuan Nguyen</title>
</head>
<body>
    <h2>DashBoard by Login and Register Python App!</h2>
    <h1>Welcome {{user.fname}} {{user.lname}}</h1>
    <h3>This is the perfect app with full check validator , bcrypt password and session!</h3>
    <a href="/logout">Logout Account</a>
</body>
</html>