<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit for show </title>
    <style>
            li{
                color: rgb(250, 8, 8);
            }
        </style>
</head>

<body>
    <a href="/shows">GO BACK</a>
    <h1>Edit Show {{detail.id}}</h1>
    <div>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        <form action="/update" method="POST">
            {% csrf_token %}
            Title:<br>
            <input type="text" name="title_input" value="{{detail.title}}"><br>
            Network:<br>
            <input type="text" name="network_input" value="{{detail.network}}"><br>
            Release Date:<br>
            <input type="date" name="date_input" value="{{detail.releasedate}}"><br>
            Description:<br>
            <textarea name="des_input">{{detail.descrip}}</textarea><br><br>
            <input type="hidden" name="hideid" value="{{detail.id}}">
            <input type="submit" value="Update">
        </form>
        <a href="/shows">Go to Show</a>
    </div>

</body>

</html>