<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome {{ user.fname }} {{ user.lname }}</title>
</head>
<body>
        <div style="width: 100%">
                {% if messages %}
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                {% endif %}
            </div>
    <h1>Wow!! Congratulation {{ user.fname }} , You're login successful!</h1>
    <a href="/logout">Logout</a>
</body>
</html>